@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
}

#search-section {
    background: #e8a618;
    padding: 20px 0;
}

.card-footer.border-0 {
    margin-top: -25px;
}

.all-data {
    margin-top: -15px;
}

#more-items{
    display: none;
}
#spinner{
    display: none;
}